<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../images/icon.jpg" rel="shortcut icon">
    <title>在线评测系统</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/global.css">
</head>

<body>
    <header>
        <div class="head_img">
            <img src="../images/icon.jpg" alt="">
        </div>
        <nav class="nav">
            <ul>
                <a href="">
                    <li><span class="iconfont icon-home"></span>题库</li>
                </a>
                <a href="">
                    <li><span class="iconfont icon-xinfeng"></span>考试列表</li>
                </a>
                <a href="" class="active">
                    <li><span class="iconfont icon-touxiang"></span>练习</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="left_fixed">
        <ul>
            <li><a href="#"><span class="iconfont icon-59xuanze-3"></span>添加考试</a></li>
            <li class="action"><a href="#"><span class="iconfont icon-lishi"></span>考试列表</a></li>
        </ul>
    </div>

</body>

</html>