<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../images/icon.jpg" rel="shortcut icon">
    <title>在线评测系统</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/rank.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <header>
        <div class="head_img">
            <img src="../images/icon.jpg" alt="">
        </div>
        <nav class="nav">
            <ul>
                <a href="" class="active">
                    <li><span class="iconfont icon-home"></span>题库</li>
                </a>
                <a href="">
                    <li><span class="iconfont icon-xinfeng"></span>考试列表</li>
                </a>
                <a href="">
                    <li><span class="iconfont icon-touxiang"></span>练习</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="left_fixed">
        <ul>
            <li><a href="#"><span class="iconfont icon-tianjia"></span>添加题目</a></li>
            <li><a href="#"><span class="iconfont icon-shebeizhuangtai"></span>在线状态</a></li>
            <li class="action"><a href="#"><span class="iconfont icon-paixing"></span>排行榜</a></li>
            <li><a href="#"><span class="iconfont icon-liebiao"></span>题目列表</a></li>
        </ul>
    </div>
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>编号</th>
                    <th>正确数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>张三</td>
                    <td>12456789</td>
                    <td>10</td>
                    <td>
                        <button class="detBtn">查看详情</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../js/rank.js"></script>
</body>
</html>