<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../images/icon.jpg" rel="shortcut icon">
    <title>在线评测系统</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/register.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
</head>

<body>
    <h1>在线测评系统</h1>
    <div class="main">
        <form action="#" method="post">
            <div>
                <input type="text" placeholder="请输入6-16位的账号" id="id" class="userId">
                <span class="iconfont icon-zhanghao"></span>
            </div>
            <div>
                <input type="text" id="name" placeholder="请输入您的姓名">
                <span class="iconfont icon-zhanghao"></span>
            </div>
            <div>
                <input type="password" id="password" placeholder="请输入6-16位的密码" class="userPwd">
                <span class="iconfont icon-ziyuanxhdpi"></span>
            </div>
            <div>
                <input type="password" placeholder="请确认密码" class="ackPwd">
                <span class="iconfont icon-ziyuanxhdpi"></span>
            </div>
            <div class="btn">
                <button class="action">注册</button>
                <button class="back">返回</button>
            </div>
        </form>
    </div>
    <div class="copyright">
        <p>© 2023 在线测评系统 - Powered By Muyisz</p>
    </div>

    <script src="../js/register.js"></script>
</body>

</html>