<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../images/icon.jpg" rel="shortcut icon">
    <title>在线评测系统</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/s_choose_exam.css">
</head>
<body>
    <header>
        <div class="head_img">
            <img src="../images/icon.jpg" alt="">
        </div>
        <nav class="nav">
            <ul>
                <a href="">
                    <li><span class="iconfont icon-home"></span>题库</li>
                </a>
                <a href="">
                    <li><span class="iconfont icon-xinfeng"></span>考试列表</li>
                </a>
                <a href="" class="active">
                    <li><span class="iconfont icon-touxiang"></span>练习</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="left_fixed">
        <ul>
            <li class="action"><a href="#"><span class="iconfont icon-59xuanze-3"></span>选择考试</a></li>
            <li><a href="#"><span class="iconfont icon-lishi"></span>练习历史</a></li>
        </ul>
    </div>
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th>考试名称</th>
                    <th>考试编号</th>
                    <th>难度</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>大—期末考试</td>
                    <td>123456</td>
                    <td>L1</td>
                    <td>张三</td>
                    <td>
                        <button>开始考试</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../js/s_choose_exam.js"></script>
</body>
</html>