<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../images/icon.jpg" rel="shortcut icon">
    <title>在线评测系统</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/t_exam_probe.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
</head>

<body>
    <header>
        <div class="head_img">
            <img src="../images/icon.jpg" alt="">
        </div>
        <nav class="nav">
            <ul>
                <a href="">
                    <li><span class="iconfont icon-home"></span>题库</li>
                </a>
                <a href="" class="active">
                    <li><span class="iconfont icon-xinfeng"></span>考试列表</li>
                </a>
                <a href="">
                    <li><span class="iconfont icon-touxiang"></span>练习</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="left_fixed">
        <ul>
            <li><a href="#"><span class="iconfont icon-tianjia"></span>添加考试</a></li>
            <li class="action"><a href="#"><span class="iconfont icon-liebiao"></span>考试列表</a></li>
        </ul>
    </div>
    <div class="main">
        <h1 class="title">大一期末考试</h1>
        <div class="exam_content">
            <div class="exam_item">
                <div class="question">
                    <p>1. 有两个数—个是1，另—个也是1，他们相加等于多少</p>
                </div>
                <div class="option">
                    <ol>
                        <li class="A">1</li>
                        <li class="B">2</li>
                        <li class="C">3</li>
                        <li class="D">4</li>
                    </ol>
                </div>
                <div class="answer">
                    <div class="answer_text">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="exam_item">
                <div class="question">
                    <p>2. 有两个数—个是2，另—个也是2，他们相加等于多少</p>
                </div>
                <div class="answer">
                    <input type="text">
                </div>
            </div>
            <div class="exam_item">
                <div class="question">
                    <p>3. 请用代码输出hello world</p>
                </div>
                <div class="option">
                    <h4>输入样例</h4>
                    <textarea name="" id="" cols="30" rows="10" readonly>-</textarea>
                </div>
                <div class="answer">
                    <div class="answer_example">
                        <h4>输出样例</h4>
                        <textarea name="" id="" cols="30" rows="10" readonly>hello world</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit">
            <button class="submitBtn">返回</button>
        </div>
    </div>

    <script src="../js/t_exam_test.js"></script>
</body>

</html>