<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../images/icon.jpg" rel="shortcut icon">
    <title>在线评测系统</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/t_question_detailed.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
</head>

<body>
    <header>
        <div class="head_img">
            <img src="../images/icon.jpg" alt="">
        </div>
        <nav class="nav">
            <ul>
                <a href="" class="active">
                    <li><span class="iconfont icon-home"></span>题库</li>
                </a>
                <a href="">
                    <li><span class="iconfont icon-xinfeng"></span>考试列表</li>
                </a>
                <a href="">
                    <li><span class="iconfont icon-touxiang"></span>练习</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="left_fixed">
        <ul>
            <li><a href="#"><span class="iconfont icon-tianjia"></span>添加题目</a></li>
            <li><a href="#"><span class="iconfont icon-shebeizhuangtai"></span>在线状态</a></li>
            <li><a href="#"><span class="iconfont icon-paixing"></span>排行榜</a></li>
            <li class="action"><a href="#"><span class="iconfont icon-liebiao"></span>题目列表</a></li>
        </ul>
    </div>
    <div class="main">
        <!-- 编程题 -->
        <div class="program_question question_item">
            <div class="question_name">
                <h4>题目名称</h4>
                <div class="name">这是一个程序题</div>
            </div>
            <div class="question_content">
                <h4>题目内容</h4>
                <div class="content">
                    输出hello world
                </div>
            </div>
            <div class="example_input">
                <h4>样例出入</h4>
                <textarea name="" id="" cols="30" rows="10">-</textarea>
            </div>
            <div class="example_outcome">
                <h4>样例输出</h4>
                <textarea name="" id="" cols="30" rows="10">hello world</textarea>
            </div>
            <div class="data_input">
                <h4>输入数据</h4>
                <textarea name="" id="" cols="30" rows="10">-</textarea>
            </div>
            <div class="data_outcome">
                <h4>输出数据</h4>
                <textarea name="" id="" cols="30" rows="10">hello world</textarea>
            </div>
        </div>

        <!-- 客观题 -->
        <div class="objective_question question_item">
            <div class="question_name">
                <h4>题目名称</h4>
                <div class="name">这是一个客观题</div>
            </div>
            <div class="question_content">
                <h4>题目内容</h4>
                <div class="content">
                    有两个数一个是1，另—个也是1，请问他们相加等于什么
                </div>
            </div>
            <div class="answer">
                <h4>正确答案：</h4>
                <div class="answer_content">2</div>
            </div>
        </div>

        <!-- 选择题 -->
        <div class="choice_question question_item">
            <div class="question_name">
                <h4>题目名称</h4>
                <div class="name">这是一个选择题</div>
            </div>
            <div class="question_content">
                <h4>题目内容</h4>
                <div class="content">
                    有两个数一个是1，另—个也是1，请问他们相加等于什么
                </div>
            </div>
            <div class="option">
                <ol>
                    <li class="A">1</li>
                    <li class="B">2</li>
                    <li class="C">3</li>
                    <li class="D">4</li>
                </ol>
            </div>
            <div class="answer">
                正确答案：<span>B</span>
            </div>
        </div>
        <div class="back">
            <button>返回</button>
        </div>
    </div>
</body>

</html>